@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");

body {
  font-family: "Smooch Sans", serif;
  background-color: #b8b44f;
  margin: 0;
  padding: 0;
}
.container {
  width: 60%;
  margin: 50px auto;
  background-color: #fff;
  padding: 37px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
h2,
h3 {
  text-align: center;
  color: #374b3a;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="number"],
select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

select[name="title"] {
  width: 7rem;
}

span {
  font-size: 0.8rem;
  color: red;
  font-weight: 900;
}
.form-group-inline {
  display: flex;
  justify-content: space-between;
}
.form-group-inline .form-group {
  flex: 0 0 48%;
}

button {
  padding: 12px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #4c7c4f;
  transition: all 0.4s ease;
}
.step {
  display: none;
}
.step.active {
  display: block;
}
